.not-found {
  min-height: calc(100vh - 101px);
  padding: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .wrapper {
    display: block;
    text-align: center;

    h1 {
      color: red;
      font-size: 4rem;
      padding: 20px 0;
    }
    h3 {
      padding: 0 0 20px 0;
    }

    p {
      font-size: 1.3rem;
    }
    
  }
  
}