@import "../scss/global.scss";

.json-placeholder {
  min-height: 90vh;

  .link {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin: 10px 20% 10px auto;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      @extend .container;
      border : 2px solid rgb(110, 110, 110);
    }
  }
  
}