@import "../scss/global.scss";

.json-placeholder {
  min-height: calc(100vh - 102px);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      @extend .container;
      border : 2px solid rgb(110, 110, 110);
    }
  }
  
}