@import "../scss/global.scss";

.the-movie {
  .wrapper {
    @extend .container;
    
    .search-field {
      .group {
        width: 100%;
        padding-right: 20px;
      }
    }
    .search-btn {
      margin: 43px 0;
      
      .responsive {
        @media #{$tablet} {
          min-width: 0px;
        }
        @media #{$mobile} {
          min-width: 0px;
          padding: 0px 16px;
        }
      }
    }
  }
}