@import '../../scss//global.scss';

.movie {
  margin: 10px 0;

  .card {
    background-color: transparent;
    border: none;

    .under-18 {
      position: relative;
      display: flex;
      justify-content: flex-end;
      top: 35px;
      right: 10px;
    }

    .title {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      display: flex;
      justify-content: center;
      position: relative;
      
      h5 {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        font-size: 1.2rem;
        margin-bottom: 5px;
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
      }
      .long-title {
        top: -63px !important;
      }
      .popover {
        @extend .popover;
        }
        
      &:hover {
        .popover {
          @extend .popover-hover;
        }
      }
    }
    .card-body {
      .info {
        margin: 10px auto;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.9);
        color: #fff;

        .popover-info {
          @extend .popover;
          left: 0px;
        }

        &:hover {
          cursor: pointer;

          .popover-info {
            @extend .popover-hover;
          }
        }

        span {
          display: flex;
          justify-content: center;
          padding: 10px 0;
        }
      }
    }
  }
  
  @keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
  }
  
  @-webkit-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
  }
  @-moz-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
  }
  @-ms-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
  }
}

